<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


    <style>
        table {
            width: 100%;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body >
    <div class="container">
        <h1 class="text-white">Nome</h1>
    </div>
    <div class="m-8">           
        <h1 class="text-3xl mb-8">Listagem de passageiros</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Número do voo</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
            <% if (passengers.length > 0) { %> 
                <% passengers.forEach(passenger => { %>
                    <tr>
                        <td><%= passenger.name %></td>
                        <td><%= passenger.flightNumber %></td>
                        <td><%= passenger.time %></td>
                    </tr>
                <%  }); %>
            <% } %>
            </tbody>
            <tfoot>
                <tr><td colspan="2"><%=passengers.length%> passageiros</td></tr>
            </tfoot>
        </table>
    </div>
</body>
</html> 